# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List Data Science Tools
* Examples of arithmetric expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Scikit-Learn
4. PyTorch
5. Seaborn

| Data Science Tools |
| -------------| 
| Jupyter Notebook | 
| RStudio |
| VS Code (Visual Studio Code) |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [2]:
200/60

3.3333333333333335

## Author
Katharina Urban